.home-page {

    h2 {
        padding: 20px 5px;
        font-size: 2.2rem;
        background-color: rgba(245, 245, 245, 0.664);
    }

    .MuiButton-root {
        position: absolute;
        top: 20px;
        right: 20px;
        border: 0px;
        color: rgba(250, 250, 250, 0.932);
    }

    &-header-container {
        background-image: url(../imags/header-bg.jpg);
        background-size: cover;
        background-position-x: center;
        height: 75vh;

        &-logo {
            height: 150px;
            width: 370px;

            &-img {
                background-image: url(../imags/logo.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
            }
        }

        .MuiFab-root {
            background: none;
            color: white;
            &:hover{
                background: rgba(145, 145, 145, 0.37);
            }
        }

        .get-started-btn {
            padding-top: 35px;
        }
    }

    &-footer{
        min-height: 100px;
        background-color: rgba(145, 145, 145, 0.37);
    }
}