.home {
    &-login {
        padding: 5px 10px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
        color: aliceblue;
        transition: 0.3s;
        &:hover{
            background-color:  rgba(184, 184, 184, 0.151)
        }
    }

    &-header-container {
        background-image: url(../imags/header-bg.jpg);
        background-size: cover;
        background-position-x: center;
        height: 75vh;

        &-logo {
            background-image: url(../imags/logo.png);
            height: 500px;
            width: 500px;
        }
    }
}