.board-page {
  position: relative;
  background-image: url(../images/board-bg.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;

  &-nav-bar {
    background-color: #0000005c;
    padding: 10px;

    .nav-btn {
      padding: 10px 15px;
      background: #2020207e;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
      transition: 0.3s;

      &:hover {
        background: #686868d3;
      }
    }

    &-filters {
      padding: 5px 10px;

      &-divider {
        border-left: 1px solid rgba(7, 7, 7, 0.589);
        height: 17px;
        margin: 8px 8px 12px 8px;
      }

      &-item {
        height: 37px;

        input {
          min-width: 250px;
          border-radius: 2px;
          text-align: center;
          background: #ffffff;
          outline: none;
          height: 100%;
          display: flex;
          color: #172b4d;
        }

        select {
          cursor: pointer;
          height: 100%;
          display: flex;
          border: none;
          outline: none;
          background: #00000094;
          color: white;
          font-family: montserratRegular, "sans-sarif";
        }

        button {
          border-radius: 4px;
          color: #ffffff;
          background: #00000094;
          transition: 0.3s;
          height: 100%;

          &.search-btn {
            border-radius: 0px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: #00000094;
          }

          &:hover {
            background: #5a5a5aa1;
          }
        }
      }
    }

    &-logo {
      cursor: pointer;
      height: 25px;
      width: 130px;
      background-image: url("../images/logo-nav.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 5px;
    }

    &-filters {
      color: rgba(250, 250, 250, 0.932);
      // background-color: #00000015;
      flex-basis: 0 0 55px;
    }
  }

  &-add-another-column-btn {
    outline: none;
    cursor: pointer;
    height: 30px;
    // background: #ffffff4f;
    min-width: 200px;
    // color: #ffffffd4;
    text-align: inherit;
    border: 1px solid #0000000d;
    border-radius: 4px;
    padding: 5px;
    margin: 0 4px;
    margin-right: 8px;
    transition: 0.2s;
    // mix-blend-mode: difference;

    &:hover {
      background: #ffffff69;
    }
  }

  &-columns-container {
    flex-grow: 1;
    overflow-x: auto;
    margin: 0 3px;
    padding-bottom: 5px;
  }

  .logged-in-user {
    color: white;
    padding-right: 10px;
  }
}

.add-icon {
  height: 20px;
  width: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-right: 2px;
}