.board-page {
  position: relative;
  background-image: url(../images/board-bg.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  height: 100vh;

  &-nav-bar {
    background-color: #0000005c;
    padding: 10px;

    .nav-btn {
      padding: 10px 15px;
      background: #2020207e;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
      transition: 0.3s;

      &:hover {
        background: #686868d3;
      }
    }

    &-filters {
      padding: 5px;

      &-item {
        background: #ffffff1c;
        
        border-radius: 4px;
        color: white;
        padding: 5px;
        margin-right: 4px;
        height: 44px;

        input {
          min-width: 250px;
          min-height: 30px;
          border-radius: 2px;
          border: none;
          text-align: center;
          background: #ffffff;
          outline: none;
          height: 34px;
          display: flex;
        }

        select {
          margin-left: 10px;
          margin-right: 10px;
          border-radius: 2px;
          height: 34px;
          display: flex;
          border: none;
          outline: none;
          background-color: #202020ab;
          color: white;
          font-family: montserratBold, 'sans-sarif';
        }

        button {
          border-radius: 4px;
          color: white;
          background: #202020ab;

          transition: 0.3s;

          &:hover {
            background: #5a5a5aa1;

          }
        }

      }
    }

    &-logo {
      cursor: pointer;
      height: 25px;
      width: 130px;
      background-image: url("../images/logo-nav.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin-top: 5px;
    }

    &-filters {
      color: rgba(250, 250, 250, 0.932);
      // background-color: #00000015;
      flex-basis: 0 0 55px;

    }

  }

  &-add-another-column-btn {
    outline: none;
    cursor: pointer;
    height: 30px;
    background: #ffffff4f;
    min-width: 200px;
    color: #ffffffd4;
    text-align: inherit;
    border: 1px solid #0000000d;
    border-radius: 4px;
    padding: 5px;
    margin: 0 4px;
    margin-right: 8px;
    transition: 0.2s;
   
  
    &:hover {
      background: #ffffff69;
    }
  }

  &-columns-container {
    flex-grow: 1;
    overflow-x: auto;
    margin: 0 3px;
    padding-bottom: 5px;
  }

  .logged-in-user{
    color:white;
    padding-right: 10px;
  }
}