.board-page {
  overflow: hidden;
  background-image: url(../imags/board-bg.jpg);
  background-size: cover;
  background-position-x: center;
  height: 100vh;

  .MuiButton-root {
    font-family: montserratRegular, "sans-sarif";
    position: absolute;
    width: 0;
    top: 5px;
    left: 5px;
    border: 0px;
    color: #fafafaee;
    background: #a0a0a071;
    padding: 10px 20px;
    transition: 0.3s;

    &:hover {
      background: #a0a0a0bb;
    }
  }

  .root {
    padding: 10px;
    overflow: hidden;
  }

  &-nav-bar {
    height: 55px;
    background-color: #000000c5;

    &-logo {
      margin-top: 5px;
      height: 40px;
      width: 110px;
      background-image: url("../imags/logo-nav.png");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-filters {
      color: rgba(250, 250, 250, 0.932);
      background-color: #00000015;
      height: 55px;
    }
  }

  &-add-another-column-btn {
    outline: none;
    cursor: pointer;
    height: 30px;
    background: #ffffff4f;
    min-width: 200px;
    color: #ffffffd4;
    text-align: inherit;
    border: 1px solid #0000000d;
    border-radius: 4px;
    padding: 5px;
    margin: 0 4px;
    margin-right: 8px;
    transition: 0.2s;

    &:hover {
      background: #ffffff69;
    }
  }

  &-columns-container {
    overflow: auto;
    margin: 0 3px;
  }
}