.home-page {

    &-login {
        color: whitesmoke;
        background: #00000099;
        position: absolute;
        width: 100%;
        top: 0px;
        right: 0px;
        padding: 10px 20px;

        .MuiButtonBase-root {
            font-size: rem(16px);
            width: auto;
            color: rgba(250, 250, 250, 0.932);
            transition: 0.3s;
            margin-left: 5px;

            .MuiButton-outlined {
                padding: 15px 25px;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.185);
            }
        }
    }

    h2 {
        font-size: 2.2rem;
        color: white;
    }

    //header -----------------------

    &-header-container {
        background-image: url(../images/header-bg.jpg);
        background-size: cover;
        background-position-x: center;
        height: 75vh;

        &-inner-container {
            padding: 85px 100px 0px 90px;
        }


        &-about-compony-container {
            &-logo {
                width: 50%;
            }

            margin-left: 20px;

            h1 {
                text-shadow: 2px 2px 4px #000000;
            }

            p {
                font-size: 1.3rem;
                font-weight: 600;
                font-family: montserratBold, 'sans-sarif';
                color: white;
                text-shadow: 2px 2px 4px #000000;
            }
        }

        &-logo {
            margin-top: 30px;
            height: 150px;
            width: 370px;

            &-img {
                background-image: url(../images/logo.png);
                background-size: contain;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
            }
        }

        .MuiFab-root {
            color: white;
            background: #1f1e1eb4;
            box-shadow: rgba(255, 255, 255, 0.185);
            transition: 0.4s;
            padding: 15px 30px;

            p {
                font-size: 1.1rem;
                font-weight: 600;
            }

            &:hover {
                background: #1f1e1ed7;
            }
        }

        .MuiFab-extended {
            height: auto;
        }

        .get-started-btn {
            padding-top: 50px;
        }
    }

    // boards list -------------------------


    &-boards-list {
        background: rgba(0, 0, 0, 0.91);

        &-start-new-board {
            max-width: 660px;
            margin: auto;
            padding: 60px 0px;

            &-card {
                width: 250px;
                height: 200px;
                border: 3px dashed white;
                border-radius: 4px;
                margin: 10px;

                h2 {
                    font-size: 1.2rem;

                }

                small {
                    color: white;

                }
            }

            &-right-text {
                text-align: justify;
                margin-left: 20px;
                font-size: 1.1rem;
                color: white;
                width: 60%;
            }

        }




        &-inspiration {
            background: rgba(0, 0, 0, 0.842);
            padding: 20px 0px;

            .MuiSvgIcon-root {
                margin-top: 15px;
                background-color: none;
                color: white;
            }
        }
    }

    &-footer {
        padding: 10px;
        min-height: 100px;
        background-color: rgb(8, 8, 8);
        color: seashell;

        .MuiSvgIcon-root {
            cursor: pointer;
            transition: 0.7s;


            &.faceBookIcon {
                &:hover {
                    color: slateblue;
                }
            }

            &.linkedInIcon {
                &:hover {
                    color: tan;
                }
            }
        }

        h2 {
            padding: 10px;
        }

        &-team-member-card {
            margin: 0 10px;
            padding-bottom: 50px;

            a {
                color: inherit;
            }


            &-member-img {
                height: 150px;
                width: 150px;
                border-radius: 100%;
                transition: 0.2s;

                &.vlad {
                    background-image: url(../images/team/Vlad.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &.margad {
                    background-image: url(../images/team/Margad.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }

                &.paolo {
                    background-image: url(../images/team/Paolo.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}