.board-columns {
    height: 100%;
    align-items: flex-start;

    &-item {
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        position: relative;
        max-height: 100%;
        display: inline-block;
        white-space: nowrap;
        padding: 0 5px;
        margin: 0 4px;
        width: 270px;
        min-height: 61px;
        background-color: #ffffffeb;
        border: 1px solid rgba(131, 131, 131, 0.336);
        border-radius: 4px;
        box-shadow: black;


        &-header {
            padding-left: 5px;

            h2 {
                font-weight: 600;
                max-width: 100%;
                margin: 10px 0px;
                padding: 0px 3px;
                cursor: text;

                &:focus {
                    outline: 2px solid #0079bf;
                }
            }

            &-h2-wrapper {
                width: 80%;
                word-wrap: break-word;
                overflow-wrap: break-word;
                white-space: normal;
            }

            &-menu-btn {
                cursor: pointer;
                position: absolute;
                top: 2px;
                right: 5px;
                width: 28px;
                height: 40px;
                transition: 0.3s;

                h2 {
                    cursor: pointer;
                }

                &:hover {
                    background: rgba(177, 177, 177, 0.5)
                }

                &-icon {
                    position: absolute;
                    top: 0px;
                    right: 6px;
                    border-radius: 4px;
                    padding: 3px 10px 10px 10px;
                    line-height: 10px;
                }
            }
        }
    }
}
