.board-columns {
    align-items: flex-start;


    &-item {
        
        width: 270px;
        min-height: 78px;
        margin: 2px;
        background-color: #ebecf0;
        border: 1px solid rgba(131, 131, 131, 0.336);
        border-radius: 2px;
        box-shadow: black;

        h2 {
            text-align: center;
        }

        &-header {
            padding: 0px 10px;
        }
    }
}


// .grid-item{
//     border: 1px solid;
// }