.board-columns {
    align-items: flex-start;

    .MuiSvgIcon-root {
        cursor: pointer;
        border-radius: 3px;
        margin-bottom: 5px;
        font-size: 1rem;
        transition: 0.3s;

        &:hover {
            color: rgba(0, 0, 0, 0.788);
            background: rgba(177, 177, 177, 0.5)
        }
    }

    &-item {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        
        margin: 0 4px;
        margin-right: 8px;

        width: 210px;
        min-height: 40px;
        
        background-color: #ebecf0;
        border: 1px solid rgba(131, 131, 131, 0.336);
        border-radius: 2px;
        box-shadow: black;
        box-sizing: border-box;

        h2 {
            text-align: center;
        }

        &-header {
            padding: 0px 10px;
        }
    }
}


// .grid-item{
//     border: 1px solid;
// }