.task-container {
  cursor: pointer !important;
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
  max-width: 256px;
  min-height: 20px;
  text-decoration: none;
  z-index: 0;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &:hover {
    box-shadow: 0px 3px 5px -3px #00000082;
    background: rgba(255, 255, 255, 0.527);
  }

  &-title {
    padding: 2px 5px;
    width: 100%;
    font-family: sans-serif;
    min-height: rem(34px);
    color: #172b4d;

    &:after {
      content: '';
      width: 70%;
      border-bottom: 1px solid rgba(163, 163, 163, 0.514);
    }
  }

  &.isDragging {
    background-color: rgba(253, 253, 253, 0.685);
  }

  .task-container-labels {
    align-self: flex-start;
  }

  &-open-menu {
    position: absolute;
    top: 2px;
    right: 2px;

    &.MuiSvgIcon-root {
      width: 1rem;
      height: 1rem;
      color: rgb(48, 48, 48);
      transition: 0.2s;
    }

    &:hover {
      background-color: rgba(2, 2, 2, 0.288);
      color: rgb(255, 255, 255);
    }
  }

  .bottom-container {
    padding: 0px 5px 5px 5px;
  }


  .asign-member-to-task {
    padding: 2px;
  }

  .team-member-icon-wrapper {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 4px 2px;
    background-color: #dfe1e6;

    p {
      font-size: rem(10px);
      font-family: montserratExtraBold, sans-serif;
      color: white;
    }
  }

  img {
    align-self: center;
    display: block;
    width: 246px;
    max-height: 220px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    // width: auto;/
    // // height: auto;1
  }

  .row-reverse {
    flex-direction: row-reverse;
  }
}