.task-container {
    cursor: pointer !important;
    position: relative;
    padding: 3px 1px 3px 3px;
    margin-bottom: 10px;
    margin: 5px;
    transition: 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    p {
        width: 100%;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.637);
    }

    &.isDragging {
        background-color: lightgreen;
    }

    &-open-menu {
        position: absolute;
        top: 2px;
        right: 2px;
    }
}