
.task-details-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    & .task-details{
      background-color: white;
      position: absolute;
      width: 70vw;  
      z-index: 1;
    }
}
