.task-container {
    cursor: pointer !important;
    position: relative;
    margin-bottom: 5px;
    transition: 0.3s;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;


    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(9,30,66,.25);
    padding: 2px 5px;

    &:hover {
        background: rgba(255, 255, 255, 0.39);
    }

    p {
        width: 100%;
        font-family: sans-serif;
    }


    &.isDragging {
        background-color: rgba(253, 253, 253, 0.685);
    }

    &-open-menu {
        position: absolute;
        font-size: 10px;
        color: rgb(0, 0, 0);
        transition: 0.3s;

        &.MuiSvgIcon-root {
            width: 13px;
            height: 13px;
            color: rgb(129, 129, 129);
        }

        &-wrapper {
            position: absolute;
            top: 1px;
            right: 1px;
            width: 23px;
            height: 23px;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;

            &:hover {
                background-color: rgba(100, 100, 100, 0.288);

                .MuiSvgIcon-root {
                    color: rgb(255, 255, 255);
                }
            }
        }

    }
}