.board-column {
    &-footer {

        &-add-task {
            margin: 3px;
            padding: 10px 0;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.3s;

            &:hover {
                background: rgba(124, 124, 124, 0.288);
            }
        }
    }

    &.isDraggingOver {
        transition: background-color 0.2 ease;
        background-color: skyblue;
    }
}