
::-webkit-scrollbar {
    width: 5px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #262626;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-image: linear-gradient(-86deg, #999999 0%, #474747 100%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: montserrat, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: normal;
}

h1 {
    font-size: rem(60px);
    margin-bottom: rem(20px);
}

p {
    margin: 0 0 rem(12px);
    max-width: 60ch;
}
