@import "./typography.scss";

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #b3b3b39d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-image: linear-gradient(-86deg, #999999 0%, #474747 100%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: montserrat, sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
    // margin: 0px;
    font-weight: normal;
}
h1{
    font-family: montserratBold , 'sans-sarif';
}

h2,h3,h4{
    font-family: montserratRegular , 'sans-sarif';
}

h2{
    font-size: rem(12px);
}

p {
    font-size: rem(12px);
    margin: 0;
    font-family: montserratLight , 'sans-sarif';
}

small{
    margin: 0;
    font-size: rem(8px);
    font-family: montserratExtraLight , 'sans-sarif';
}


button{
    cursor: pointer;
    border: none;
    border-radius: 2px;
    font-family: montserratRegular , 'sans-sarif';
}

textarea{
    font-size: rem(12px);
    font-family: montserratLight , 'sans-sarif';
}