.screen {
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.align-start {
        align-items: flex-start;
    }

    &.wrap {
        flex-wrap: wrap;
    }

}

//text helpers 

.text-center {
    text-align: center;
}

.text-decoration {
    text-decoration: line-through;
}

.bold {
    font-weight: 600;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

// pointer helper

.pointer {
    cursor: pointer;
}

//grid helpers

.grid-item {
    display: grid;
}

.align-self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}


//size helpers 

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}


// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

//colors

.label-color-1 {
    background-color: rgb(3, 187, 12);
}

.label-color-2 {
    background-color: rgb(255, 175, 70);
}

.label-color-3 {
    background-color: rgb(199, 23, 23);
}

.label-color-4 {
    background-color: rgb(97, 94, 255);
}

.label-color-5 {
    background-color: rgb(230, 54, 230);
}

.label-color-6 {
    background-color: rgb(0, 247, 255);
}

.cursor-pointer {
    cursor: pointer;
}