.screen {
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    width: 100%;
    height: 100%;
}


// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.justify-end {
        justify-content: flex-end;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.align-start {
        align-items: flex-start;
    }

}

//text helpers 

.text-center {
    text-align: center;
}

.bold {
    font-weight: 600;
}


//grid helpers

.grid-item {
    display: grid;
}


//size helpers 

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}


// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

//colors

.label-color-1 {
    background-color: rgb(82, 82, 204);
}

.label-color-2 {
    background-color: rgb(231, 255, 94);
}

.label-color-3 {
    background-color: rgb(122, 122, 122);
}

.label-color-4 {
    background-color: rgb(223, 160, 43);
}

.label-color-5 {
    background-color: rgb(54, 230, 63);
}

.label-color-6 {
    background-color: rgb(255, 0, 21);
}