@font-face {
    font-family: montserratExtraLight;
    src: url(../../styles/fonts/Montserrat/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: montserratLight;
    src: url(../../styles/fonts/Montserrat/Montserrat-Light.ttf);
}

@font-face {
    font-family: montserratRegular;
    src: url(../../styles/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserratBold;
    src: url(../../styles/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserratExtraBold;
    src: url(../../styles/fonts/Montserrat/Montserrat-ExtraBold.ttf);
}