@font-face {
    font-family: openSansRegular;
    src: url(../../styles/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: oswaldRegular;
    src: url(../../styles/fonts/Oswald/static/Oswald-Regular.ttf);
}
@font-face {
    font-family: sansProRegular;
    src: url(../../styles/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
